<h4>Add a Comment</h4>

<div class="row">
  <div class="span6 offset3">
    <%= form_for Comment.new, url: task_comments_path(@task)  do |f| %>

        <%= f.label :text, "Text" %>
        <%= f.text_area :text %>


        <%= f.submit "Post", class: "btn btn-large btn-primary" %>
        <% end %>
  </div>
</div>
