<h2>Tasks Assigned</h2>
(Number of assignations: <%= @tasks_assigned.count
%>)

<%  @b %>
<ul class="tasks">
  <% @tasks_assigned.each do |t| %>
      <li>
        <%=   t.id %>
        <%=   t.task_name %>
      </li>
  <% end %>
</ul>