<div class="tasks">
  <h3> Results </h3>
  Number of Tasks: <%= @tasks.count %>
  </br></br>
  <%= link_to "Sort by Recent Task",  admin_tasks_path(sort_param: "created_date") %> &nbsp&nbsp
  <%= link_to "Sort by Due Date",  admin_tasks_path(sort_param: "due_date") %>
  </br></br>

  <%= render partial: 'shared/tasks_table' %>
</div>