<h2>Tasks</h2>

</br></br>
<%= link_to new_task_path do %>
    <span class="glyphicon glyphicon-plus"></span> Task
<% end %>

<div class="search-form">
  <%= render :partial => 'search_form'  %>
</div>


<div class="search-results">
  <%= render :partial => 'search_results'  %>
</div>