<h2>Task Categories</h2>
Number of categories: <%= @task_categories.count%>
</br> </br>

<div class="task-categories">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col"># of tasks</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @task_categories.each do |c| %>
        <tr>
          <td> <%=   c.category %> </td>
          <td> <%=   c.tasks.count %></td>
          <td>
            <%= link_to  edit_admin_task_category_path(c) do %>
                <span class="glyphicon glyphicon-edit" alt="edit"></span>
            <% end %>
          </td>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>