<h2>New Task Category</h2>

  <div class="">
    <%= form_for(TaskCategory.new, :url => { :action => "create" })  do |f| %>
        <div class="form-group">
          <%= f.label :category, "Task Category" %>
          <%= f.text_field :category, class:"form-control" %>
        </div>



        <%= f.submit "Create", class: "btn btn-large btn-primary" %>
        <% end %>
  </div>

