<h2>List of Users</h2>
(Number of users: <%= @users.count
%>)
<br></br>

<ul class="users">
  <% @users.each do |u| %>
      <li>
        <%=   u.id %>
        <%=   u.name %>
      </li>
      <%= link_to "show", admin_user_path(u)  %>

  <% end %>
</ul>