<aside>
  <ul class="list-group">
    <li class="list-group-item" style="background-color: #EEE;"><span class="glyphicon glyphicon-wrench"></span> ADMIN</li>
    <li class="list-group-item">
      <%= link_to admin_users_path do %>
         All Users
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to admin_user_roles_path do %>
        User Roles
      <% end %>
    </li>

    <li class="list-group-item">
      <%= link_to admin_tasks_path do %>
         Manage Tasks
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to admin_task_categories_path do %>
         Task Categories
      <% end %>
    </li>
  </ul>
</aside>
