<aside>


    <ul class="nav flex-column">
      <li class="nav-brand">ADMIN</li>
      <li class="nav-item">
         <%= link_to "All Users",  admin_users_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Manage Tasks",  admin_tasks_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Edit Task Categories",  admin_task_categories_path %>
      </li>
    </ul>



</aside>

